.about-h1 {
    background-color: rgb(3, 3, 20);
    max-width: auto;
    margin: auto;
    padding: 2rem;
}
.about {
    display: flex;
    justify-content: space-evenly;
}
.photo {
    width: 20rem;
    height: 20rem;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.abouteme {
    flex-direction: column;
    max-width: 40rem;
    padding: 1rem;
    display: flex;
}

.text {
    text-align: center;
    max-width: 40rem;
    padding: 1rem;
    display: flex;
    margin: 7rem;
    flex-wrap: wrap;
}
.text-p {
    color: aliceblue;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}
