
.abouteme {
       background: white;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    
}
.photo {
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
h1{

}
.text {
    margin: 30px 500px 60px 500px
    ;
    outline:auto;
    font-size: 18px;
    padding: 24px;
    color: rgb(2, 11, 32);
}

