*{
   padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.form-container{
    font-family: "Open-Sans", sans serif;
    background: rgb(206, 210, 214);
    height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-subscription-text {
    font-size: 1.3rem;
    justify-content: baseline;
    padding: 1rem;
    margin: 2rem;
    font-size: 2rem;
}
.form-subscription{
    align-items:center;
   
}
.footer-subscription-text{
    color: rgb(5, 3, 26);
    padding: 3rem;
    margin:2rem;
    display: flex;
    flex-flow: wrap;
    align-items:center;
    justify-content: center;
}

.input-form {
    color: rgb(5, 3, 26);
    padding: 15vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    border: 3px solid black;
}

.footer-input {
    font-size: 13px;
    height: 2.4rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
.footer-msg{
    font-size: 24px;
    height: 10rem;
    padding: 0 2rem;
    border-radius: 2rem;
    align-items:center;
    
}
/*Colocar um embaixo do outro*/
.footer-input,
.form-button,
.footer-msg
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.footer-input:focus, .footer-msg:focus {
    outline: 1px solid blue;
}

