:root {
    --font-primary: "M PLUS 1", sans-serif;
}

.techs {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    margin-left: 9rem;
    height: 50rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
}

.tech:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
}

.tech:nth-child(2) {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
}

.tech:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 6 / -1;
}

.tech:nth-child(4) {
    grid-column: 13 / 14;
    grid-row: 2 / 3;
}

.tech:nth-child(5) {
    grid-column: 13 / 14;
    grid-row: 4 / 5;
}

.tech:nth-child(6) {
    grid-column: 13 / 14;
    grid-row: 5 / -1;
}
.tech:nth-child(7) {
    grid-column: 4 / 13;
    grid-row: 1 / -1;
}
.tech:nth-child(8) {
    grid-column: 4 / 13;
    grid-row: 3 / -1;
}
.tech:nth-child(9) {
    grid-column: 4 / 13;
    grid-row: 5 / -1;
}

.sessao-techs {
    margin-top: 2em;
    margin-bottom: -7em;
    background-color: #ffffff;
    height: 100%;
}

.sessao-header {
    font-family: var(--font-primary);
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
}

.tech-header {
    font-family: var(--font-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b4b4b;
}

.tech-header i {
    font-size: 2.5rem;
}

.tech-header h3 {
    font-family: var(--font-primary);
    font-size: 2rem;
    padding-left: 1rem;
}

.tech-text {
    font-family: var(--font-primary);
    margin-top: 1rem;
}

.techs-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 80%;
    height: 80%;
}

.techs-img-wrapper img {
    object-fit: cover;
    height: 100%;
}
h4 {
    font-size: 2.6rem;
    color: #353839;
    font-family: var(--font-primary);
}

@media screen and (max-width: 320px) {
    h4{
        font-size: 1rem;

    }
    .techs{
        margin-left: 1rem;
    }
}


    @media screen and (max-width: 526px) {
    h4{
        font-size: 1.5rem;

    }
    .techs{
        margin-left: 1rem;
    }
}
